#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.winLine {
  position: fixed;
  margin-left: -135px;
  margin-top: -2px;
  z-index: 2;
}

.site {
  min-width: 570px;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  color: #000;
  background-size: 400% 400%;
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

h1 {
  font-family: "Bree Serif", serif;
  font-size: xxx-large;
}

h3 {
  font-weight: 300;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #ffffff22;
  border: 1px solid #999;
  float: left;
  font-size: 65px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  font-family: "Fredoka One", cursive;
}

.blue {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.red {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f40, 0 0 20px #f40,
    0 0 25px #f40, 0 0 30px #f40, 0 0 35px #f40;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  min-width: 250px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 4px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

.bigx {
  font-size: x-large;
  padding: 10px;
}

.bigx:hover {
  background-color: #f40;
}

.bigo {
  font-size: x-large;
  padding: 10px;
}

.bigo:hover {
  background-color: #0073e6;
}

.trainSection {
  text-align: center;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 3;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
/* .modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #443e53;
  padding: 1em 2em;
  text-align: center;
  z-index: 5;
  border: 1px solid;
} */
.basic_about {
  font-size: 1.3em;
}
.modal__footer {
  text-align: right;
}
/* .modal__footer a {
  color: #e40;
} */

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fffd;
  text-decoration: none;
}
/* 
.curvy {
  width: 100%;
  transform: scaleY(0.3);
} */
/* 
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
  z-index: -1;
} */
/* 
.footRoof {
  background-image: url(/wave.svg);
  height: 17vw;
  background-size: cover;
  transform: scaleY(0.4);
  transform-origin: bottom;
} */

.footerContent {
  height: 35px;
  background-color: #0008;
}

.about {
  position: fixed;
  right: 20px;
  bottom: 0;
  font-size: 1.4em;
}

/*change for footer*/
.about a {
  color: #000;
}

.links {
  position: fixed;
  left: 5px;
  bottom: 0;
}

.links img {
  padding: 10px;
  width: 25px;
  opacity: 0.8;
  cursor: pointer;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  display: inline;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
